html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #333;
    font-family: 'Gloria Hallelujah', cursive;
    
}

/* .img {
    background-image: url(assets/images/football2.jpg); 
  }
  @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
    .img {
      background-image: url(assets/images/football2.jpg); 
    }
  } */

#googleFont {
    font-family: 'Megrim', cursive;
    color: #4aaaa5;
    text-align: left;
    padding: 10px;
}

.lead {
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}

/* hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 85%;
    margin-left: 10px;
    /* padding-left: 27px; */
    /* border-top: 1px solid #eee;
} */ 

/* Full-width input fields */

/* input[type=txtEmail],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}
    */
/* 
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: left;
} */

button {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.rowModal {
    text-align: center;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.jumbotron {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomInDown;
    /* background-color: #2fa5db9d; */
    color: white;
    margin-top: -21px;
    padding: 5px;
    padding-bottom: 135px;
    padding-top: 200px;
    text-align: right;
    opacity: 0.8;
    background-image: url(images/football4.jpg);
}

.rowJumbo {
    font-family: 'Megrim', cursive;
}

.jumbotron p {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#wordsAnimate {
    padding-bottom: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.player {
    color: white;
}

.rowAnimate {
    padding-bottom: 60px;
}

.panel-userHeading {
    background-color:rgb(156, 150, 150);
    padding: 5px;
    font-family: 'Megrim', cursive;
}

input {
    /* line-height: normal; */
    padding: 12px;
    padding-right: 149px;
}

#txtEmail {
    padding-left: 12px;
}

#userSection {
    padding-bottom: 5px;
    margin-bottom: 130px;
    margin-top: 20px;
    text-align: left;
    /* width: 50%; */
    background-color: #333;
    color: white;
    border: grey;
    border: 5px solid #4aaaa5;
    font-family: 'Megrim', cursive;
}

#userButtons {
    font-family: 'Megrim', cursive;
    color: white;
}

#copyRight {
    font-family: 'Megrim', cursive;
    margin-top: 10px;
}

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 600;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: "system";
}

.word {
    font-size: 3em;
    font-weight: bold;
    float: left;
    opacity: 0;
    /* position:absolute; */
    top: 40%;
    left: 40%;
    color: #4aaaa5;
    font-family: 'Megrim', cursive;
}

.w1 {
    animation: w1anim 15s infinite;
}

.w2 {
    animation: w2anim 15s infinite;
}

.w3 {
    animation: w3anim 15s infinite;
}

@keyframes w1anim {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@keyframes w2anim {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@keyframes w3anim {
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@keyframes w4anim {
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes w5anim {
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.rowBigButtons {
   text-align: center;
}
/* buttons */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* body {
    width: 100%;
    height: 100%;
    font-family: 'Megrim', cursive;
    font-size: 13px;
    text-align: center;
    background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');
} */

ul2 {
    margin: 30px auto;
    text-align: center;
}

li2 {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@-o-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

a.red {
    background-color: rgb(228, 214, 214);
    color: black;
    font-family: 'Megrim', cursive;
    border-color: rgb(122, 120, 120);
}

a.red:hover {
    color: rgb(148, 143, 143);
}

a.green {
    background-color: #4aaaa5;
    color: black;
    font-family: 'Megrim', cursive;
    border-color: rgb(122, 120, 120);
}

a.green:hover {
    color: #4aaaa5;
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.green span {
    background: rgba(0, 63, 71, .7);
}

.red span {
    background: rgba(182, 171, 171, 0.7);
}


.footer {
    /* clear: both; */
    position: absolute;
    /* z-index: 10; */
    /* height: [footer-height]; */
    /* margin-top: 4em; */
    background-color: #222;
    text-align: center;
    /* vertical-align: middle; */
    color: rgb(185, 185, 185);
    border-top: 5px solid #4aaaa5;
    /* margin-right: -190px; */
    overflow: hidden;
    /* padding: 5px; */
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    height: 100px; 
}




/* social footer */

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
}


/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
} */


/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 60px;
    background-color: #f5f5f5;
  } */ 
